* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  
  h1 {
    padding: 12px;
    margin: 0;
    margin-bottom: 12px;
    font-size: 28px;
    color: #333;
    background-color: #a2cdcd;
    
  }


  nav {
    display: flex;
    padding: 5px;
    margin-bottom: 0;
    background-size: cover;
    background: #333;
    height: 85px;
  }

  .navheader {
    display: flex;
   }
  
  .navheader li
  {
    padding: 15px;
    text-decoration: none;
    color: var( color,#a2cdcd);
    display:inline;
    position:relative;
    left: 120%;
    
  }

  a{
    color:#a2cdcd;
    font-size: 18px;
    text-decoration-color: #a2cdcd;
    text-decoration-thickness: 2px;
    padding: 0px 20px;
  }

  .hero-banner {
   
    background-image: url(./images/02-hero-bg.jpg);
    height:250px;
    position:relative;
    background-size: cover;
    background-position: top;
   }

   .hero-banner h3 {
    background-color:#a2cdcd;
    color:#333;
    font-size:28px;
   }
  
  .hero-banner h3 {
    padding: 10px;
    margin:0;
    display: flex;
    text-align: center;
    justify-content: center;
    position: absolute;
    right: 2%;
    bottom: 24px;
   }
    
   h2 {
    color:#333;
   }
   
   .profilepic {
    justify-content: left;
    width: 15%;
    margin-top: 12px;
    margin-left: 10px;
   }

   .bulk {
    display: grid;
    grid-template-columns: 20% 85%;
    margin: 42px;
    padding-bottom: 50px;
    width: 85%;
    gap:4%;
   }
   
   .page-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 400px 200px 200px;
    grid-template-areas:"img1 img1" "img2 img3" "img4 img5";
    width: 100%;
    gap: 18px;
   }

   .page-section {
    text-align: left;
   }

   #img1 {
    grid-area: img1;
    width:100%;
    height:100%;
    object-fit: cover;
  
   }

   .img2 {
    grid-area: img2;
   }

   .img3 {
    grid-area: img2;
   }

   .img4 {
    grid-area: img2;
   }

   .img5 {
    grid-area: img2;
   }

  .profile {
    height: 400px;
    width:450px;
  }


  body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
  }
  
  
  
  
  

  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }
  
  .footer{
display: block;
font-size: 18px;
padding: 8;
  }
  