* {
  box-sizing: border-box;
}

.hero-banner {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("https://images.unsplash.com/photo-1501785888041-af3ef285b470?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTR8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-position: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.header h1 {
  display: inline-block;
  font-size: 48px;
}

.header h2 {
  display: inline-block;
  font-size: 34px;
}

h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
